.contact__form {
  width: 50%;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fefefe;
  font-family: 'Arial';
  background-color: #380315;
  border-radius: 5px;
} 

.contact__form > h5 {
  margin: 15px auto 3px 0;
}


.contact__form > textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  padding: 5px;
  font-family: 'Arial';
  border: 1px solid transparent;
  border-radius: 5px;
}

.contact__form > textarea:focus {
  outline: #bd1b3c;
}

.contact__form > button {
  width: 100%;
  height: 30px;
  background-color: #bd1b3c;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fefefe;
  cursor: pointer;
  outline: none;
}
