.footer {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fefefe;
}

.footer__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__navigation--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.footer__navigation--list > li > a {
  font-size: 30px;
  text-decoration: none;
  color: #232323;
}

/*---------- MEDIA QUERIES ----------*/

@media (max-width: 600px) {
  .footer {
    width: 100%;
  }
}
