.header {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #380315;
  position: fixed;
  z-index: 100;
}

.header--active {
  background-color: #380315;
}

.header__navigation {
  display: flex;
}

.header__navigation--list {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__navigation--list > li {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-radius: 5px;
  transition: 0.8 ease-out;
  cursor: pointer;
}
.header__navigation--list > li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header__navigation--list > li > a {
  color: #fefefe;
  text-decoration: none;
}

.header__navigation--logo {
  max-width: 130px;
  height: auto;
}

.header__navigation--logo > img {
  max-width: 100%;
}

.burger {
  font-size: 20px;
  color: #fefefe;
  cursor: pointer;
  display: none;
}

/*---------- MEDIA QUERIES ----------*/

@media (max-width: 800px) {
  .header__navigation--list {
    width: 20%;
  }

  .header__navigation--list > li {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 400px) {
  .header__navigation--logo {
    max-width: 65px;
    height: auto;
  }
}
