.propiedad {
  width: 100%;
  height: auto;
  padding: 10px;
}

.propiedad__portada {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.propiedad__portada > img {
  width: 100%;
}

.propiedad__info {
  padding: 0 30px 30px 30px;
}

.propiedad__info--direccion {
  margin: 20px 0;
}

.propiedad__info--button {
  text-align: center;
  margin: 30px 0;
}

.propiedad__info--button > a > button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #bd1b3c;
  font-size: 15px;
  color: #fefefe;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.propiedad__info--button > a > button:hover {
  padding: 18px;
  background-color: #f3204c;
}
