.container {
  width: 100%;
  height: auto;
}

.property__cover {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: #fefefe;
}

.property__cover::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

.property__cover > h1 {
  text-align: center;
  position: relative;
}

.property__info {
  position: relative;
  width: 90%;
  height: auto;
  padding: 40px;
  margin: -60px auto 0 auto;
  border-radius: 10px 10px 0 0;
  background-color: #fefefe;
}

.property__info--price {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  margin: 30px auto;
  padding: 0 40px;
}

.property__info--galery,
.property__info--chars {
  width: 40%;
}

.property__info--chars div {
  margin: 10px 5px;
}

.property__info--body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 40px;
}

.property__info--body .title,
.property__info--body .contact {
  width: 40%;
}

.property__info--body .contact {
  position: sticky;
  top: 150px;
  align-self: flex-start;
}

.property__info--body .title p {
  text-align: justify;
}

.mapa {
  background-color: #ccc;
  margin: 30px auto;
  width: 100%;
  height: 400px;
}

/*---------- MEDIA QUERIES ------------*/

@media (max-width: 1200px) {
  
  .property__info--galery,
  .property__info--chars {
    width: 100%;
  }

  .property__info--chars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .property__info--chars h2 {
    width: 100%;
  }

  .property__info--body .title,
  .property__info--body .contact {
    width: 100%;
  }

  .property__info--body .contact form{
    margin: 0 auto;
  }



}

@media (max-width: 600px) {
  .property__cover {
    height: 50vh;
  }

  .property__info {
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .property__info--price {
    padding: 0 10px;
  }

  .property__info--body {
    padding: 0 10px;
  }

}













