.container {
  width: 100%;
  height: auto;
}

.property__cover {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: #fefefe;
}

.property__cover::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

.property__cover > h1 {
  position: relative;
}

.property__info {
  position: relative;
  width: 90%;
  height: auto;
  padding: 40px;
  margin: -60px auto 0 auto;
  border-radius: 10px 10px 0 0;
  background-color: #fefefe;
}

.property__info--price {
  width: 100%;
  text-align: right;
}

.property__info--galery {
  width: 80%;
  margin: 30px auto;
}

.property__info--galery > img {
  max-width: 100%;
}


