li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  grid-area: sidebar;
  width: 250px;
  min-height: 100vh;
  padding: 15px;
  background-color: #380315;
  color: #fefefe;
}

.sidebar__brand {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.sidebar__brand--logo {
  margin: 0 auto;
  width: 120px;
}

.sidebar__brand--logo > img {
  max-width: 100%;
  object-fit: cover;
}

.sidebar__info {
  height: 500px;
  overflow-y: scroll;
}

.sidebar__info::-webkit-scrollbar {
  display: none;
}

.sidebar__profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sidebar__profile--img {
  width: 30px;
  height: 30px;
}

.sidebar__profile--img > img {
  border-radius: 30px;
  max-width: 100%;
  object-fit: cover;
}

.sidebar__dashboard {
 width: 100%;
 background-color: #bd1b3c; 
 padding: 15px;
 margin: 20px 0;
 border-radius: 5px;
 cursor: pointer;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}

.sidebar__menu {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  -webkit-transition: all 0.2s ease-in-out;
}

.sidebar__menu--title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  transition: all 0.2s ease-in-out; 
  -webkit-transition: all 0.2s ease-in-out;
}

.sidebar__menu--title:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar__menu--title > svg {
  transition: all 0.2s linear;
}

.sidebar__menu--rotate > svg {
  transition: all 0.2s linear;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.sidebar__menu--item {
  border-radius: 5px;
  position: relative;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  padding: 15px 30px; 
  display: block;
}

.sidebar__menu--item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar__menu--item-hidden {
  position: relative;
  top: -500px;
  padding: 15px;
  display: none;
}
