
.loading {
  width: 90%;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  z-index: 100;
}

.loading > img {
  width: 250px;
  height: auto;
  margin: 30px 0;
}
