.propiedades__portada {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../Logos/kitchen-2400367_1920.webp');
  background-size: cover;
  background-position: center;
  color: white;
}

.propiedades__portada:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.propiedades__portada--title {
  position: relative;
  text-align: center;
}

.propiedades__contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  height: auto;
  position: relative;
  margin: -60px auto 0 auto;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: #fefefe;
}

.propiedades__contenido--propiedad {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*---------- MEDIA QUERIES -----------*/

@media (max-width: 1200px) {

  .propiedades__contenido--propiedad {
    width: 45%;
  }

}

@media (max-width: 600px) {

  .propiedades__portada {
    height: 50vh;
  }

  .propiedades__contenido {
    display: block;
    width: 100%;
    margin: 0;
  }

  .propiedades__contenido--propiedad {
    margin: 20px auto;
    width: 95%;
  }

}
